.table-head {
  .table-row {
    background-color: rgba(83, 53, 53, 0.3);
  }
}

.schedule-table {
  margin: auto;
  display: flex;
  flex-direction: row;

  .shifts-column {
    border-right: 3px solid #ccc;
  }

  .schedule-cell {
    padding: 0px;
    height: 6vh;
    width: 10vw;
    font-weight: 600;
    font-size: 22px;
    font-family: "Roboto Condensed", sans-serif;
    color: rgba($color: #242323, $alpha: 1.0);
    text-align: center;



    .schedule-select {
      width: 100%;
      font-weight: 600;
      font-family: "Poppins", sans-serif;
      font-size: 17px;
      color: rgba($color: #271d1d, $alpha: 1.0);
    }
  }

  .wagon {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 900;
    font-size: 25px;
    padding: 4px;
    color: rgba($color: #272626, $alpha: 1.0);
    text-align: center;
  }

  .Dávid,
  .Téka,
  .Frodó,
  .Abigél,
  .Désiré {
    background-color: rgba(198, 125, 125, 0.7);
  }


  .afternoon {
    background-color: rgba(93, 91, 91, 0.4);
  }
}