.table-head {
  .table-row {
    background-color: rgba(83, 53, 53, 0.5);
  }
}

.schedule-table {
  margin: auto;
  display: flex;
  flex-direction: row;


  .schedule-cell {
    border: 1px solid #ddd;
    padding: 0px;
    height: 6vh;
    width: 10vw;

    text-align: center;

    .schedule-select {
      width: 100%;
    }
  }

  .afternoon {
    background-color: rgba(93, 91, 91, 0.4);
  }

}