.schedule-table {
  width: 100%;
  margin: auto;

  .schedule-cell {
    border: 1px solid #ddd;
    padding: 0px;
    height: 6vh;
    width: 10vw;
    text-align: center;

    .schedule-select {
      width: 100%;
    }
  }

  .morning {
    background-color: #dedddd;
  }

  .notes-box {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid grey;
  }
}